{% extends 'base.html' %}

{% block content %}

<header  class="container">
    <img src="static/images/trainers_banner.jpg" id="class-banner" alt="boxing_class_banner" width=100%>
    <p id="class-header">PERSONAL__ <br>
        __TRAINERS<br>
    </p>
</header>


<table class="table">
    <tr>
        <th>Name</th>
        <th></th>
        <th>Type</th>
    </tr>
    {% for trainer in trainers %}
        <tr>
            <td><a href="/trainers/{{ trainer.id }}"> {{trainer.name}}</a></td>
            <td>|</td>
            <td>{{ trainer.specialism }}</td>
            <td>|</td>
            <td>{{ trainer.email }}</td>
            <td>|</td>
            <td>{{ trainer.phone }}</td>
        </tr>
        <form action="/trainers/{{ trainer.id }}/delete" method="POST">
        <input type="submit" value="Delete">
    {% endfor %}

</table>

{% endblock %}