{% extends "base.html" %}

{% block content %}
<header  class="container">
    <img src="{{ url_for('static', filename = 'images/add_class_banner.jpg') }}" alt="logo" width="100%">
    <p id="class-header">INITIALIZE__ <br>
        __A__TRAINER<br>
    </p>
</header>


<hr>

<p class="index-header">Add new Trainer to the team</p>

<hr>

<form action="/trainers" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" 
        id="name" 
        name="name" 
        placeholder="Name"
        required
        autofocus>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="text" 
        id="email" 
        name="email" 
        placeholder="Email"
        required
        autofocus>
    </div>
    <div>
        <label for="phone">Phone:</label>
        <input type="text" 
        id="phone" 
        name="phone" 
        placeholder="Phone"
        required
        autofocus>
    </div>
    <div>
        <div>
            <label for="specialism">Specialism:</label>
            <input type="text" 
            id="specialism" 
            name="specialism" 
            placeholder="Specialism"
            required
            autofocus>
        </div>
    </div>
    <button type="submit">Submit</button>

</form>

{% endblock %}