{% extends 'base.html' %}

{% block content %}
<header class="container">
    <img src="static/images/class_banner copy.jpg" id="class-banner" alt="boxing_class_banner" width=100%>
    <p id="class-header">CLASSES__THIS__ <br>
        __WINTER<br>
    </p>

</header>

<table>
    <tr>
        <th>Class</th>
        </tr>
        {% for exercise_class in exercise_classes %}
        <tr>
        <td> <a href="/exercise_classes/ {{exercise_class.id }}"> {{exercise_class.name}} </a></td>
        <td>|</td>
        <td> {{ exercise_class.type }}</td>
        <td>|</td>
        <td> {{ exercise_class.duration }}</td>
        <td>|</td>
        <td> {{ exercise_class.trainer.name }}</td>
    </tr>
        <form action="/exercise_classes/{{ exercise_class.id }}/delete" method="POST">
        <input type="submit" value="Delete">
    {% endfor %}

 
</table>


{% endblock %}