{% extends 'base.html' %}

{% block content %}
<header class="container">
    <img src="static/images/class_banner1.jpg" id="class-banner" alt="boxing_class_banner" width=100%>
    <p id="class-header">CLASSES__THIS__ <br>
        __WINTER<br>
    </p>

</header>

<hr>
<p class="index-header">December Fitness Classes</p>
<hr>

<section>
    {% for exercise_class in exercise_classes %}
        <p><a href="/exercise_classes/ {{exercise_class.id }}"> 
            {{exercise_class.name}} </a> 
            | {{ exercise_class.type }}
            | {{ exercise_class.duration }} minutes
            | {{ exercise_class.schedule }}
            | {{ exercise_class.trainer.name }}

            <form action="/exercise_classes/{{ exercise_class.id }}/delete" method="POST">

                <a href="/exercise_classes/{{ exercise_class.id }}/delete" class="delete">Delete</a>
                <a href="/exercise_classes/{{ exercise_class.id }}/edit">Edit</a>

            {% endfor %}
        </p>
    </section>


{% endblock %}