{% extends "base.html" %}

{% block content %}

<header  class="container">

<img src="{{ url_for('static', filename = 'images/new_classabnner.jpg') }}" alt="logo" width="100%">

    <p id="class-header">INITIALIZE__ <br>
        __NEW__CLASS<br>
    </p>
</header>

<form action="/exercise_classes" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" 
               id="name" 
               name="name" 
               placeholder="Name"
               required
               autofocus>
    </div>
    <div>
        <label for="type">Type:</label>
        <input type="text"
               name="type" 
               id="type" 
               placeholder="Type"
               required
               autofocus>
    </div>
    <div>
        <label for="duration">Duration:</label>
        <input type="number"
               name="duration" 
               id="duration" 
               placeholder="Duration"
               required
               autofocus>
    </div>
    <div>
        <label for="schedule">Schedule:</label>
        <input type="text"
               name="schedule" 
               id="schedule" 
               placeholder="schedule"
               required
               autofocus>
    </div>
    <div>
        <label for="trainer_id">Allocate Trainer:</label>
        <select name="trainer_id" id="trainer_id">
            <option value="Select option">Select trainer</option>
                {% for trainer in trainers %}
                <option value="{{ trainer.id }}"> {{ trainer.name }}</option>

                {% endfor %}
        </select>

    </div>
    <button type="submit">Submit</button>

</form>

{% endblock %}