<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="static/style.css">
  <!-- Specific CSS files for dif templates..? -->
  <!-- <link rel="stylesheet" href="static/exercise_class/style.css"> -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,800&display=swap" rel="stylesheet">
  <title>Fit__init__</title>
</head>

<body>

  <header>
    <div class="container">
      <img src="static/images/fit__init__logo.png" alt="logo" width="120"> 
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/exercise_classes">Classes</a></li>
            <li><a href="/trainers">Trainers</a></li>
            <li><a href="/trainers/new">Add Trainer</a></li>
            <li><a href="/exercise_classes/new">Add Class</a></li>
            <li><a href="/">Contact</a></li>
            </form>
          </ul>
        </nav>
  </div>

</header>


{% block content %}

{% endblock %}

<footer>
  <div class="row">
    <address>
      <div class="row">
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-instagram"></a>
          <a href="#" class="fa fa-envelope"></a>
      </div>
      <p>&copy; fit__init__</p>
      Burrels Wharf <br>
      Isle of Dogs <br>
      London <br>
      E14 3TW <br>
      0208 8574 859 <br>
  </address>
  </div>

</footer>


</body>


</html>