{% extends "base.html" %}

{% block content %}

<header class="container">
    <img src="static/images/index_banner.jpg" id="class-banner" alt="boxing_class_banner" width=100%>
    <p id="class-header">INITIALIZE__ <br>
        __FITNESS<br>
    </p>
</header>

    <hr>

    <p class="index-header"> Tier 2 London</p>
    <p class="index-header"> Top Tier Workouts</p>

    <hr>

    <img src="static/images/index_banner1.jpg" id="class-banner" alt="banner" width=100%>

<!-- COUNTDONW? -->
<div>
    <hr>
    <p class="countdown"> 
        You have {{ new_year_countdown() }} to achieve your new years resolutions.
    </p>
    <p id="countdown-sub">
        Make it count 
    </p>
    <hr>
</div>

<img src="static/images/index_bannr.jpg" id="class-banner" alt="banner" width=100%>

<hr>

   <p class="info">   
       We can't wait to welcome people back to our gyms! Thank you so much for everyone's patience and support during our closure. For the latest information on opening times please visit our gym opening hours page.

        We’ve looked at our gyms in terms of layouts, most popular equipment and how we can ensure that we are able to offer as much of the kit as possible, whilst also ensuring the safety of our members whilst socially distancing.
    </p>  

{% endblock %}